<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>realizaPedido</servlet-name>
        <servlet-class>br.com.Controle.realizaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarProduto</servlet-name>
        <servlet-class>br.com.Controle.cadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarProduto</servlet-name>
        <servlet-class>br.com.Controle.alterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarIdProduto</servlet-name>
        <servlet-class>br.com.Controle.consultarIdProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criarCliente</servlet-name>
        <servlet-class>br.com.Controle.criarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>realizaPedido</servlet-name>
        <url-pattern>/RP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarProduto</servlet-name>
        <url-pattern>/CP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarProduto</servlet-name>
        <url-pattern>/AP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarIdProduto</servlet-name>
        <url-pattern>/CIP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criarCliente</servlet-name>
        <url-pattern>/CC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
